@page "/"
<PageTitle>Index</PageTitle>

<h1> Welcome on the <strong>Belgian's Caves Register</strong> </h1>

Welcome on our app.

<SurveyPrompt title="What can Blazor do for you ? " />

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a></p>
</div>

<button type="submit" button="btn btn-success">How access to the site</button>