@page "/scientificdatas/scientificdatadetail"
@using BelgianCavesRegisterBlazor1.Client.Models

<h3>Scientific Datas Details</h3>

<EditForm Model="CurrentScientificData" OnSubmit="GetScientificData" class="form-control">
    <div class="form-control-sm">
        <label>Scientific Datas Id : </label>
        <InputNumber @bind-Value="CurrentScientificData.ScientificData_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm>

@code {

}
