@page "/scientificdatas/scientificdataview"
@using BelgianCavesRegisterBlazor1.Client.Models

<h3>Scientific Datas View</h3>

<table class="table table-striped table-bordered">
    <tr>
        <th>Type Of Datas : </th>
        <th>Details : </th>
        <th>References : </th>
        <th></th>
    </tr>
    @foreach(ScientificDataModel sc in ScientificDatasList)
    {
        <tr>
            <td>@sc.DataType</td>
            <td>@sc.DetailsData</td>
            <td>@sc.ReferenceData</td>
            <td><button class="btn btn-sm btn-outline-success" @onclick="() => ClickInfo(sc.ScientificData_Id)">Info</button></td>
        </tr>
    }
</table

<hr />

@if(SelectedId > 0)
{
    <ScientificDataDetail id="SelectedId"></ScientificDataDetail>
}

<hr />

<ScientificDataCreate></ScientificDataCreate>

@code {

}
