@page "/administrators/administratorcreate"
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavigationManager

<h3>Create new Administrator</h3>

<EditForm Model="administratorform" @OnSubmit="submit" class="form-control">
    <div class="form-control-sm">
        <label>Id User : </label>
        <InputNumber @bind-Value="administratorform.NUser_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm>

@code {

}
