@page "/administrators/nusercreate"
@using Microsoft.AspNetCore.Components.Forms

<h3>New User Creating</h3>

<EditForm Model="nUserform" @OnSubmit="submit" class="form-control">
    <div class="form-control-sm">
        <label>Nickname : </label>
        <InputText @bind-Value="nUserform.Pseudo"></InputText>
    </div>
    <div class="form-control-sm">
        <label>Password : </label>
        <InputNumber @bind-Value="nUserform.PasswordHash"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Security Stamp : </label>
        <InputNumber @bind-Value="nUserform.SecurityStamp"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Email : </label>
        <InputText @bind-Value="nUserform.Email"></InputText>
    </div>
    <div class="form-control-sm">
        <label>Person Id : </label>
        <InputNumber @bind-Value="nUserform.NPerson_Id"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Role Id : </label>
        <InputNumber @bind-Value="nUserform.Role_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm>

@code {

}
