.navbar-toggler {
    background-color: rgba(39, 196, 134, 0.1);
    box-shadow: inherit;
    text-shadow: inherit;
    position: absolute;
    top: 100px;
    bottom: auto;
    left: 40%;
    right: auto;
}

nav {
    display: flex;
    position: absolute;
    top: 300px;
    bottom: 5000px;
    left: 40%;
    right: auto;
    background-color: blue;
}

.flex-column {
    display: flex;
    position: relative;
    top: auto;
    bottom: auto;
    right: 0%;
    left: 20%;
    margin-left: 0%;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(29, 31, 30, 0.4);
    text-shadow: inherit;
    box-shadow: inherit;
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 15%;
    right: auto;
}

.navbar-brand {
    font-size: 1.1rem;
    color: orangered;
    text-shadow: inherit;
    box-shadow: inherit;
    position: absolute;
    top: 100px;
    bottom: 2000px;
    left: 30%;
    right: auto;
}
.container-fluid {
    background-color: orange;
    background-position: top;
    max-width: 30%;
    text-align: left;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    right: 50%;
}
.container-fluid a {
    background-color: orange;
    position: relative;
    top: auto;
    bottom: auto;
    left: 50%;
    right: auto;
}

.container-fluid button {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    right: auto;
}

.container-fluid button span {
    background-color: yellow;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 60%;
    right: auto;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    text-shadow: inherit;
    box-shadow: inherit;
    position: absolute;
    top: 100px;
    bottom: auto;
    left: 40%S;
    right: auto;
}

.nav-item {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
    background-color: orangered;
    color: orange;
    max-width: 10%;
    text-shadow: inherit;
    box-shadow: inherit;
    max-width: 35%;
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 30%;
    right: auto;
    padding: 10px;
}
    .nav-item:first-of-type {
        padding-top: 1.3rem;
        text-shadow: inherit;
        box-shadow: inherit;
        position: relative;
        top: 10px;
        bottom: auto;
        left: 10%;
        right: auto;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
        text-shadow: inherit;
        box-shadow: inherit;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    .nav-item ::deep a {
        color: orange;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        text-shadow: inherit;
        box-shadow: inherit;
    }

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(201, 112, 28);
    max-width: 30%;
    text-shadow: inherit;
    box-shadow: inherit;
}

.nav-item ::deep a:hover {
    background-color: darkblue;
    color: lightgoldenrodyellow;
    text-shadow: inherit;
    box-shadow: inherit;
    width: 200px;
}
 
@media (min-width: 641px){
    .navbar-toggler {
        display: none;
        text-shadow: inherit;
        box-shadow: inherit;
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
        text-shadow: inherit;
        box-shadow: inherit;
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }
}