@page "/nowners/nownerdetail/{nowner_id:int}"
@using BelgianCavesRegisterBlazor1.Client.Models
@inject NavigationManager NavigationManager

<h3>Owner Detail</h3>

<EditForm Model="CurrentNOwner" @OnSubmit="GetNOwner" class="form-control">
    <div class="form-control-sm">
        <label>Owner Id : </label>
        <InputNumber @bind-Value="CurrentNOwner.NOwner_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm>

@code {

}
