@page "/bibliographies/bibliographydetail/{bibliography_id:int}"
@using BelgianCavesRegisterBlazor1.Client.Models
@inject NavigationManager NavigationManager

<h3>Bibliography Detail</h3>

<EditForm Model="CurrentBibliography" @OnSubmit="GetBibliography" class="form-control">
    <div class="form-control-sm">
        <label>Bibliography Id : </label>
        <InputNumber @bind-Value="CurrentBibliography.Bibliography_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm>

@code {

}
