@page "/npersons/npersondetail"
@using BelgianCavesRegisterBlazor1.Client.Models

<h3>Person Details</h3>

@* <EditForm Model="CurrentNPerson" OnSubmit="GetNPerson" class="form-control">
    <div class="form-control-sm">
        <label>Id Person</label>
        <InputNumber @bind-Value="CurrentNPerson.NPerson_Id"></InputNumber>
    </div>
    <div>
        <button type="submit" button="btn btn-success">Submit</button>
    </div>
</EditForm> *@

@code {

}
